.MuiToggleButton {
    background-color: white !important;
    color: black !important;
    border-radius: 30px !important;
    width: 110%;
    border: 1px solid #c6c6c6;
    margin-bottom: 10px !important;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
/*    text-align: center;*/
  }

.Mui-selected {
    background-color: #FFCB05 !important;
    color: black !important;
}

.MuiToggleButton:hover {
    background: #FFCB05 !important;
    filter: brightness(85%) !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.MuiAccordion {
    background-color: white !important;
    color: black !important;
/*    border-radius: 30px !important;*/
    width: 80%;
    border: 1px solid #c6c6c6;
    margin-bottom: 0.5rem !important;
/*    margin-right: 1px !important;*/
    margin-left: 0.1rem !important;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    display: flex;
    flex-direction: column;
}

.MuiAccordion:hover {
/*    background: #2F65A7 !important;*/
    filter: brightness(85%);
/*    color: white !important;*/
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.MuiAccordionSummary-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
/*    padding: 8px 16px 16px;*/
}

.Mui-expanded {
   background-color: transparent !important;
/*   filter: brightness(85%);*/
   color: black !important;
   margin: auto;
/*   border-radius: 30px !important;*/
}

.button:hover {
    background: #008b8b;
    color: #ffffff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.MuiIndicButton {
    background-color: white !important;
    color: black !important;
    border-radius: 30px !important;
    width: 200px;
    border: 1px solid #c6c6c6;
    margin-bottom: 10px !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.MuiIndicSelected {
    background-color: #00274C !important;
    color: white !important;
}

.MuiIndicButton:hover {
    background: #00274C !important;
    color: white !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


