.MuiToggleButton {
    background-color: white !important;
    color: black !important;
    border-radius: 30px !important;
    width: 300px;
    border: 1px solid #c6c6c6;
    margin-bottom: 10px !important;
    padding-top: 5px;
    padding-bottom: 5px;
  }

.Mui-selected {
    background-color: #008b8b !important;
    color: #ffffff !important;
}

.MuiToggleButton:hover {
    background: #008b8b !important;
    color: #ffffff !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background: #008b8b;
    color: #ffffff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonClicked {
    background: #008b8b !important;
    color: #ffffff;
}